$liteViolet : #ffdcff;
$darkViolet : #810481;
$navbarText : #fdfd87;
$linksText  : #bbfffc;
$segmnTitle : #97b484;
$paragraphs : #6d6d6d;
$newsHeader : #444444;
$lembayung  : #d9a9f5;
$putihgdng  : #dacfcf;
$mtragreen  : #a9ffa9;
$mitrahead  : #2a4e1f;
// Fonts
/*
font-family: 'Passion One', cursive;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
*/

$fontBrand : 'Passion One', cursive;
$fontLinks : 'Roboto Condensed', sans-serif;
$fontParag : 'Yanone Kaffeesatz', sans-serif;
html,body{
    background-color: $liteViolet;
    height: 100%;
}

.container-fluid { 
    font-family: $fontParag; 
    font-size: 18px;
    color: $paragraphs;
}
.col-lg-12.card{background-color: #eeeeee;}

// navbar
nav.bg-violet{
    background-color: $darkViolet;
    a.navbar-brand{
        color: $navbarText;
        font-family: $fontBrand;
        font-size: 24px;
        @media(max-width:720px){
            font-size: 14px;
        }
        letter-spacing: 1px;
    }
    #navbarBinaka { 
        ul.navbar-nav  {
            li.nav-item { 
                a.nav-link {
                    font-family: $fontLinks;
                    color: $linksText;
                    font-size: 16px;
                }
            }
        } 
    }
}

p.stakeHolder {
    font-family: $fontParag;
    color: $paragraphs;
    font-style: italic;
}

#carousel-block {
    background:linear-gradient(rgba(201, 194, 214, 0.801),rgba(200, 193, 214, 0.801)) , url('../img/manro.jpg');
    background-size: cover;
    background-position-y: bottom;
}
.carousel-caption{
    width: 100%;
    left: 0; right: 0; bottom: 0;
    background-color: #303030af;
    h5 { font-family: $fontBrand;}
    p {font-family: $fontLinks;}
}

// Guru BK
div#gbkMain{
    min-height: 100%;
    div#bkMenus{
        min-height: 100%;
        background-color: $lembayung;
        ul > li > a {
            color:#ff0022;
            font-family: $fontParag;
            border-bottom: 1px solid maroon;
            font-size: 18px;
            &:hover{ color: white; font-weight: bold;}
        }
    }
}

.pageTitle{
    text-align: center;
    border-bottom: 1px solid lightgray;
    h3 {
        font-family: $fontLinks;
        padding: 15px 0 15px 0;
    }
}

.table-manduba{
    thead{
        font-weight: bold;
        text-align: center;
        font-family: $fontLinks;
        background-color: #65f771;
    }

    tbody>tr>td{
        font-family: $fontParag;
    }
}

.prof-l{ font-weight: 400; color: black;}

.mitraInfo{ width: 120px; display: inline-block;}

// Mitra SIAP Karir
.mitra{
    background-color: $mtragreen;
    min-height: 90vh;
    .mtrTitle{
        background-color: $mitrahead;
        color: $navbarText;
        height: 10vh;
        h3{
            padding:0; margin: 15px 0px;
        }
    }

    .mtrIdentity{
        background: linear-gradient(to right, #a4f559, $mtragreen );
        padding-top: 15px;
         ul > li{
             background-color: #f8f9fa9d;
         }
    }

    .mtrContent{
        min-height: 80vh;
        .center-xy{
            width: 300px;
            margin: 0;
            position: absolute;
            top: 50%;
            left:50%;
            -ms-transform: translateY(-50%);
            -ms-transform: translateX(-50%);
            transform: translateY(-50%);
            transform: translateX(-50%);
            input { width: 100%;}
        }
    }
}

// Siswa
.sisPageHead{
    font-family: $fontBrand ;
    padding: 15px 0;
}
$bgSiswa : #ffacff;
$clSiswa : brown;
.sisrow{
    min-height: 86vh;
    .sisid{
        background-color: $putihgdng;
        color: $paragraphs;
        font-family: $fontLinks;
    }

    .sisKonten{
        min-width: 86vh;
        .card > .sisCardHead {
            background-color: $segmnTitle;
            color: $newsHeader;
            p{
                font-size: 1.5rem;
            }
        }

        .card > .card-body{
            min-height: 70vh;
        }
    }
}

// Home
.homeJudul{
    text-align: center;
    font-family: $fontBrand;
}
.homeKonten{ min-height: 80vh;}
article{

    p{
        font-family: $fontParag;
        color: $paragraphs;
        text-align: justify;
        text-indent: 50px;
        font-size: 1.3rem;
    }

    p.subtitle{
        margin-top: 25px;
        margin-bottom: 0px;
        font-weight: bold;
    }

    ul {
        list-style-type: none;
        padding:0;
        li{
            margin-left: -40px;
            p.subtitle1 { font-weight: bold; text-decoration: underline; margin-bottom: 0px;}
            p {margin-left: 40px; text-indent: 0;}
        }
    }
} 

