/*
font-family: 'Passion One', cursive;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
*/
html, body {
  background-color: #ffdcff;
  height: 100%;
}

.container-fluid {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 18px;
  color: #6d6d6d;
}

.col-lg-12.card {
  background-color: #eeeeee;
}

nav.bg-violet {
  background-color: #810481;
}

nav.bg-violet a.navbar-brand {
  color: #fdfd87;
  font-family: "Passion One", cursive;
  font-size: 24px;
  letter-spacing: 1px;
}

@media (max-width: 720px) {
  nav.bg-violet a.navbar-brand {
    font-size: 14px;
  }
}

nav.bg-violet #navbarBinaka ul.navbar-nav li.nav-item a.nav-link {
  font-family: "Roboto Condensed", sans-serif;
  color: #bbfffc;
  font-size: 16px;
}

p.stakeHolder {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #6d6d6d;
  font-style: italic;
}

#carousel-block {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(201, 194, 214, 0.801)), to(rgba(200, 193, 214, 0.801))), url("../img/manro.jpg");
  background: linear-gradient(rgba(201, 194, 214, 0.801), rgba(200, 193, 214, 0.801)), url("../img/manro.jpg");
  background-size: cover;
  background-position-y: bottom;
}

.carousel-caption {
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #303030af;
}

.carousel-caption h5 {
  font-family: "Passion One", cursive;
}

.carousel-caption p {
  font-family: "Roboto Condensed", sans-serif;
}

div#gbkMain {
  min-height: 100%;
}

div#gbkMain div#bkMenus {
  min-height: 100%;
  background-color: #d9a9f5;
}

div#gbkMain div#bkMenus ul > li > a {
  color: #ff0022;
  font-family: "Yanone Kaffeesatz", sans-serif;
  border-bottom: 1px solid maroon;
  font-size: 18px;
}

div#gbkMain div#bkMenus ul > li > a:hover {
  color: white;
  font-weight: bold;
}

.pageTitle {
  text-align: center;
  border-bottom: 1px solid lightgray;
}

.pageTitle h3 {
  font-family: "Roboto Condensed", sans-serif;
  padding: 15px 0 15px 0;
}

.table-manduba thead {
  font-weight: bold;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #65f771;
}

.table-manduba tbody > tr > td {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.prof-l {
  font-weight: 400;
  color: black;
}

.mitraInfo {
  width: 120px;
  display: inline-block;
}

.mitra {
  background-color: #a9ffa9;
  min-height: 90vh;
}

.mitra .mtrTitle {
  background-color: #2a4e1f;
  color: #fdfd87;
  height: 10vh;
}

.mitra .mtrTitle h3 {
  padding: 0;
  margin: 15px 0px;
}

.mitra .mtrIdentity {
  background: -webkit-gradient(linear, left top, right top, from(#a4f559), to(#a9ffa9));
  background: linear-gradient(to right, #a4f559, #a9ffa9);
  padding-top: 15px;
}

.mitra .mtrIdentity ul > li {
  background-color: #f8f9fa9d;
}

.mitra .mtrContent {
  min-height: 80vh;
}

.mitra .mtrContent .center-xy {
  width: 300px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mitra .mtrContent .center-xy input {
  width: 100%;
}

.sisPageHead {
  font-family: "Passion One", cursive;
  padding: 15px 0;
}

.sisrow {
  min-height: 86vh;
}

.sisrow .sisid {
  background-color: #dacfcf;
  color: #6d6d6d;
  font-family: "Roboto Condensed", sans-serif;
}

.sisrow .sisKonten {
  min-width: 86vh;
}

.sisrow .sisKonten .card > .sisCardHead {
  background-color: #97b484;
  color: #444444;
}

.sisrow .sisKonten .card > .sisCardHead p {
  font-size: 1.5rem;
}

.sisrow .sisKonten .card > .card-body {
  min-height: 70vh;
}

.homeJudul {
  text-align: center;
  font-family: "Passion One", cursive;
}

.homeKonten {
  min-height: 80vh;
}

article p {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #6d6d6d;
  text-align: justify;
  text-indent: 50px;
  font-size: 1.3rem;
}

article p.subtitle {
  margin-top: 25px;
  margin-bottom: 0px;
  font-weight: bold;
}

article ul {
  list-style-type: none;
  padding: 0;
}

article ul li {
  margin-left: -40px;
}

article ul li p.subtitle1 {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 0px;
}

article ul li p {
  margin-left: 40px;
  text-indent: 0;
}
/*# sourceMappingURL=style.css.map */